<header>
    <img src="/logo.jpg" alt="Logo">
    <h1 class="site-title">GIF getter</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</header>
