<main>
    <div id="elements">
        <div>
            <h1>GIF Getter</h1>
            <h3>A project for CS 290 2019</h3>
            <h2>Members</h2>
            <ul>
                <li>Agrizha Puspita Sari</li>
                <li>Jana Beer</li>
                <li>Jace Parks</li>
                <li>Maxime Desmet Vanden Stock</li>
            </ul>
        </div>
    </div>
</main>