<main class="content">
  <div id="elements">
  <div class="image">
    <center>
      <img id="downloadImg" src="{{filename}}"/>
      <p>{{date}}</p>
    </center>
  </div>
  <div class="container">
    <center>
      <a href="" class="liks" id="gifLink" download>{{url}}
      <button class="button" id="downloadButton">Download</button>
      </a>
    </center>
  </div>
</div>
</main>
