<main class="content">
    <div id="elements">
        <div id="pContainer">
            <center>
                <p>Put the URL for a video on YouTube here:</p>
            </center>
        </div>

        <div id="inputContainer">
            <center>
                <input id="link" type="text">
                <button id="nextPageButton">next</button>
            </center>
        </div>
    </div>
</main>

<div id="waiting-backdrop" class="hidden"></div>
<div id="waiting-modal" class="hidden">
    <div class="modal-dialog">

        <p>Please wait this takes a few seconds</p>

    </div>
</div>

<script src="index.js"></script>