<main class="content">
    <div id="elements">
        <div id="pContainer">
            <p>Enter a Youtube video URL: </p>
        </div>

        <div id="inputContainer">
            <input id="link" type="text">
            <button id="nextPageButton">next</button>
        </div>
    </div>
</main>

<script src="index.js"></script>