header {
  background-color: #555555;
  display: flex;
  align-items: center;
  position: relative;
}

header h1 {
  color: #fff;
  font-family: arial;
  padding-left: 2%;
  margin: 0px;
}

header img{
  width:10%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.content {
  display: block;
}

#elements{
  margin: 10px 0 0 10px;
  width:100%;
  float: left;
}

.container{
  display: flex;
  justify-content: center;
  margin: 1em;
}

input[type="text"]{
  width: 200px;
  height: 33px;
}

#pContainer {
  float: both;
  margin-left: 0px;
  margin-top: 0px;
}

#inputContainer{
  float: both;
  margin-left: 0px;
  margin-top: 0px;
}

#nextPageButton{
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
