header {
  background-color: #555555;
  display: flex;
  align-items: center;
  position: relative;
}

header h1 {
  color: #fff;
  font-family: arial;
  padding-left: 2%;
  margin: 0px;
}

header img{
  width:10%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.content {
  display: block;
}

#elements{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
  display: flex;
  justify-content: center;
  margin: 1em;
}

#gifLink{
  text-decoration: none;
  font-size: 16px;
  color: black;
  text-align: center;
  display: inline-block;
  font-family: arial;
  margin-right: 1em;
}

.button{
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#waiting-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#waiting-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}
